@import url(./__edit-profile/form__edit-profile.css);
@import url(./__submit-button/form__submit-form.css);

.form{
  position: relative;
  z-index: 2;
  font-family: 'inter', 'arial', 'sans-serif';
}