.page{
  background-color: #000000;
}
.popup{
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
.popup_open{
  display: flex;
}
.popup__container{
  width: 430px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 25px black;
}
.close-icon{
  z-index: 3;
  position: absolute;
  left: 66.15%;
  right: 30.73%;
  top: 17%;
  padding: 0;
  background-color: #00000000;
  border: 0 black;
  transform: rotate(-45deg);
}
.close-icon:hover{
  cursor: pointer;
  opacity: 60%;
}
.close-icon__image{
  display: flex;
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
}
.form__submit-button{
  display: block;
  padding: 0;
  border: 0;
  border-radius: 2px;
  width: 358px;
  margin: 48px auto 36px auto;
  background: black;
}
.form__submit-button:hover{
  cursor: pointer;
  opacity: 80%;
}
.form__save{
  height: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
}
.form{
  z-index: 2;
}
.form__edit-profile{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  border: 0;
  max-width: 330px;
  margin: 34px 64px 54px 36px;
}
.field-name{
  width: 358px;
  margin: 0 auto 30px auto;
}
.field-name__box{
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
}
.field-name__line{
  margin-top: 13px;
  width: 100%;
  height: 1px;
  opacity: 20%;
  background-color: black;
}
.field-about{
  width: 358px;
  margin: 0 auto;
}
.field-about__box{
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
}
.field-about__line{
  margin-top: 13px;
  width: 100%;
  height: 1px;
  opacity: 20%;
  background-color: black;
}
.header{
  position: relative;
  margin: 45px auto 40px auto;
  max-width: 880px;
}
.header__vector{
  width: 173px;
}
.header__line{
  margin-top: 41px;
  width: 100%;
  height: 1px;
  background-color: #545454;
}
.main{
  margin: 0 auto;
}
.profile{
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  
}
.avatar{
  width: 120px;
  height: 120px;
  background-image: url(images/Jacques.png);
  object-fit: contain;
  border-radius: 50%;
  margin-right: 30px
}
.profile-info{
  width: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 165px;
}
.profile-info__title{
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 0 16px 0;
}
.profile-info__subtitle{
  margin: 0;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
.edit{
  width: 24px;
  height: 24px;
  background: #000000;
  border: 1px solid #ffffff;
  position: absolute;
  top: 15px;
  right: 0;
}
.edit:hover{
  cursor: pointer;
  opacity: 60%;
}
.add-button{
  margin: 35px 0;
  width: 150px;
  max-height: 50px;
  background-color: black;
  padding: 0;
  border: 2px solid #ffffff;
}
.add-button:hover{
  cursor: pointer;
  opacity: 60%;
}
.add-button__image{
  width: 22px;
  height: 22px;
  transform: rotate(45deg);
}
.elements{
  margin: 51px auto 67px auto;
  max-width: 880px;
  display: grid;
  grid-gap: 20px 16px;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  list-style-type: none;
}
.element{
  max-width: 282px;
  background-color: white;
  border-radius: 10px;
}
.element__images{
  height: 282px;
}
.group__title{
  max-width: 246px;
  margin: 25px auto 31px auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.group{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.group__button{
  background-color: white;
  border: 0 white;
  padding: 0;
  margin: 0 auto;
}
.group__button:hover{
  cursor: pointer;
  opacity: 50%;
}
.group__button:active{
  background-image: url(images/heart-union.png);
  background-repeat: no-repeat;
  
}
.group__button:focus{
  background-image: url(images/heart-union.png);
  outline: none;
  background-repeat: no-repeat;
}

.group__image{
  width: 20.76px;
  height: 18.13px;
  margin: 0 auto;
  color: #000000;
}

.footer{
  max-width: 880px;
  margin: 67px auto 71px auto;
}
.footer__copyright{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 320px){
  .popup__container{
    max-width: 282px;
  }
  .form__edit-profile{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    max-width: 238px;
    margin: 25px auto 70px auto;
  }
  .field-name{
    max-width: 238px;
  }
  .field-about{
    max-width: 238px;
  }
  .close-icon{
    width: 26px;
    height: 26px;
    position: absolute;
    left: 88%;
    
  }
  .close-icon__image{
    width: 26px;
    height: 26px;
  }
  .header{
    margin: 0;
    max-width: 320px;
  }
  .header__vector{
    margin: 28px auto 0 27px;
    width: 126px;
    height: 24px;
  }
  .form__submit-button{
    max-width: 238px;
  }
  .profile{
    max-width: 282px;
    flex-direction: column;
    align-items: center;
  }
  .avatar{
    width: 120px;
    height: 120px;
    margin: 28px auto 30px auto;
  }
  .profile-info{
    max-width: 282px;
    margin: 0 auto 36px auto;
    text-align: center;
  }
  .profile-info__title{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
  }
  .profile-info__subtitle{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
  .edit{
    padding: 0;
    top: 4px;
    right: 15px;
    bottom: 28px;
    width: 18px;
    height: 18px;
  }
  .add-button{
    width: 282px;
    margin: 0 auto 36px auto;
  }
  .add-button__image{
    width: 16px;
    height: 16px;
  }
  .elements{
    max-width: 282px;
  }
  .footer{
    max-width: 282px;
  }
}