@import url(__button/group__button.css);
@import url(__image/group__image.css);
@import url(__title/group__title.css);

.group{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'inter', 'arial', 'sans-serif';
}