@import url(./__image/add-button__image.css);

.add-button{
  margin: 35px 0;
  width: 150px;
  max-height: 50px;
  background-color: black;
  padding: 0;
  border: 2px solid #ffffff;
  transition: 0.3s ease-in-out;
}
.add-button:hover{
  cursor: pointer;
  opacity: 60%;
}

@media screen and (min-width: 320px) and (max-width: 992px){
  .add-button{
    width: 282px;
    margin: 0 auto 36px auto;
  }
}