@import url(./__subtitle/profile-info__subtitle.css);
@import url(./__title/profile-info__title.css);

.profile-info{
  width: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 165px;
  font-family: 'Arial', 'Inter', 'sans-serif';
}

@media screen and (min-width: 320px) and (max-width: 992px){
  .profile-info{
    max-width: 282px;
    margin: 0 auto 36px auto;
    text-align: center;
  }
}